# Node.js dependencies
node_modules/
npm-debug.log*

# Environment and configuration files
.npmrc
tests/integration/**/.env.local

# IDE-specific files
.idea/

# Operating system files
.DS_Store
Thumbs.db
/sample/
!sample/debug-local.js

.vs/
